<!DOCTYPE HTML>
<HTML lang="pt-br">

<head>
    <!--Início importação das bibliotecas JS online-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--Fim importação das bibliotecas-->

    <!--início importação dos arquivos externos-->
    <link rel="stylesheet" type="text/css" href="../Assets/CSS/Style.css">
    <script type="text/javascript" src="../Assets/JS/Script.js">
    </script>
    <!--fim importação dos arquivos-->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="icon/png" href="../Assets/IMG/logo.png" />
    <title>Teste Front-End Debora</title>
</head>

<body>
    <!--início do "menu"-->
    <nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-lg">
        <div class="col-sm-1">
            <img src="../Assets/IMG/logo.png" title="Brazilian Biomes Logo" class="logo" width="100px" />
        </div>

        <div class="col-sm-10">
            <h4>Teste de Front-End para Estágio</h4>
        </div>
    </nav>
    <!--fim do "menu"-->
    <br/>

    <!--inicio do teste-->
    <div class="container">
        <hr/>

        <div>

        </div>

        <!--início linha-->
        <div class="row">
            <!--início coluna-->
            <div class="col-sm-12 centralizar" id="animalsCard">
                <!--aqui entra o html dinâmico gerado pelo js-->
            </div>

            <div class="col-sm-12 centralizar">
                <a href="#" id="verMais">Ver mais</a>
            </div>
            <!--fim coluna-->
        </div>

        <!--fim linha-->
        <!--fim do teste/container-->
        <hr/>
        <h2 class="titulos">Informações da Desenvolvedora</h2>
        <!--minhas informações-->
        <section id="eu">
            <div class="container my-3 py-5 text-center d-flex flex-row justify-content-center">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="card cardinfos">
                            <div class="card-body">
                                <div class="row d-flex flex-row justify-content-center">
                                    <img src="../Assets/IMG/debora.jpg" class="img-fluid rounded-circle" title="Dev Debora" id="minhaFoto" />
                                </div>
                                <br/>
                                <h3>Debora Freitas Lobão</h3>
                                <h5>Desenvolvedora Front-End</h5>
                                <h5>Técnica em Informática</h5>
                                <h5>Design de Mídias Digitais - FATEC</h5>
                                <p>huehue</p>
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="row">
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>

                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--fim minhas informações-->
        <br/>

    </div>
    <!--inicio rodapé/footer-->
    <div class="bg-dark footer fixed-bottom">
        <h6>Desenvolvido por: Debora F. | Contato: (11) 95414-7543 </h6>
        <h6>Todos os direitos reservados. &copy;<br/>Powered by VisualMix | 2019.</h6>
    </div>
    <!--fim rodapé/footer-->
</body>

</HTML>